* {
  color: white;
  font-family: 'Shippori Mincho B1', serif;
  text-decoration: none;
  box-sizing: border-box;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  height: 100vh;
  margin: 0 auto;
}
// .quote-container {
// // justify-self: center;
// }

.quote-text {
text-align: center;
height: auto;
width: 500px;
font-family: 'Shippori Mincho B1', serif;
font-weight: bolder;
font-size: larger;
margin-top: 90px;
// background-color: transparentize($color: grey, $amount: 0.7);
}

h1 {
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 80px;
  // margin-top: 0;
  margin: 280px auto;
  margin-bottom: 30px;
  // box-shadow: 0 0 20px 0 white;
  // background: transparentize($color: white, $amount: 0.8);
}

.quote-author {
  text-align: right;
  color: black;
  height: 50px;
  width: 400px;
  margin-top: 0;
}

nav {
height: 50px;
display: flex;
font-size: 20px;
font-weight: bolder;
  // justify-content: space-evenly;
}

.nav-home {
text-align: left;
height: 50px;
margin-left: 100px;
margin-top: 70px;
}

.nav-components {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 550px;
  margin: 0;
  padding-right: 100px;
  padding-top: 70px;
}

a, .home {
  height: 30px;
	background: transparent;
	border-radius: 50px;
	padding-left: 10px;
	transition: 0.2s ease-in-out;
	// letter-spacing: 2px;
}

a:hover, .home:hover {
  transform: scale(0.85)
}

.border {
  height: 90%;
  width: 90%;
  border: solid white 5px;
  background: transparentize($color: grey, $amount: 0.7);
  box-shadow: 0 0 20px 0 white;
}

ul {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 50px;
  margin: 0 auto;
}

li {
  list-style-type: none;
  height: 190px;
  width: 190px;
  border: 3px solid white;
  box-shadow: 0 0 20px 0 lightgrey;
  margin: 18px;
  padding: 0 10px 10px;
  font-size: 20px;
  font-weight: bolder;
  background: transparentize($color: grey, $amount: 0.3);
  transition: 0.2s ease-in-out;
}

li:hover {
  transform: scale(1.85)
}

.list-quote-text {
  font-size: 60%;
}

.list-quote-author {
  font-size: 12px;
}